<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <!--<connectionStrings>
    <add name="itamEntities" connectionString="metadata=res://*/itam_db.csdl|res://*/itam_db.ssdl|res://*/itam_db.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-9JV8U4M\MSSQLSERVER02;initial catalog=itam;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TradAssetEntities" connectionString="metadata=res://*/tradasset_db.csdl|res://*/tradasset_db.ssdl|res://*/tradasset_db.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-9JV8U4M\MSSQLSERVER02;initial catalog=TradAsset;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="assetEntities" connectionString="metadata=res://*/AssetModel.csdl|res://*/AssetModel.ssdl|res://*/AssetModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-JNJENTG;initial catalog=asset;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TradAssetEntities" connectionString="metadata=res://*/csdl|res://*/ssdl|res://*/msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-JNJENTG;initial catalog=TradAsset;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TradAssetDBEntities" connectionString="metadata=res://*/TradAssetDBModel.csdl|res://*/TradAssetDBModel.ssdl|res://*/TradAssetDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-JNJENTG;initial catalog=TradAssetDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>